{% macro links() %}
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% set links = {
        'app_frontend_security_login': 'Sign in'
        , 'app_frontend_security_register': 'Register a new membership'
        , 'app_frontend_security_login_link': 'Sign in with a link'
        , 'app_frontend_security_request': 'I forgot my password'
    } %}
    <hr/>
    {% for route, title in links %}
        {% if route != currentRoute %}
            <p class="mb-1"><a href="{{ path(route) }}">{{ title|trans }}</a></p>
        {% endif %}
    {% endfor %}
    {{ knp_menu_render(knp_menu_get('invoke', [], {name: 'appLocales', locale: app.request.locale, locales: getParameter('app.locales')}), {'template': 'menu/frontend/securityLocales.html.twig'}) }}
{% endmacro %}
{% macro errors(error) %}
    <script>{% if error %}toastr.error('{{ error.messageKey|trans(error.messageData, 'security') }}');{% endif %}</script>
{% endmacro %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
   <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %} - {{ 'Security'|trans }}</title>
		{{ include('widget/favicon.html.twig') }}
		{% block stylesheets %}
			{{ encore_entry_link_tags('security') }}
			<style>body {background: url({{ asset(getEnv('APP_SECURITY_BACKGROUND')) }}) no-repeat center center fixed !important;-webkit-background-size: cover !important;-moz-background-size: cover!important;-o-background-size: cover!important;background-size: cover!important;}</style>
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('security') }}
		{% endblock %}
	</head>
	<body class="hold-transition login-page">
	{% block body %}{% endblock %}
	{% include('widget/flashbag.html.twig') %}
	</body>
</html>
